<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicast</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'app/img/Fondos/fondo-clinica.png' %}" />
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
</head>
<body>
    <!-- Nav -->
    {% block nav %}
    {% include 'app/header.html' %}
    {% endblock %}

    <!-- Formulario Reserva de Hora Médica -->
    <div class="container text-center contenedor-form">
      <div class="row justify-content-md-center">
          <div class="col"></div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <form id="formulario" method="post" action="">
              {% csrf_token %}
              <!-- Titulo de Formulario -->
              <legend class="titulo-reg text-center mb-2">Formulario Reserva</legend>
              <div class="row g-3 mb-3">
              <!-- Input Rut Paciente -->
                <div class="col-xs-12 col-md-6 col-lg-6 p-2">
                    <div id="formFloating3" class="form-floating">
                      <input id="rut" type="text" name="rut" value="{{ rut }}" class="form-control" placeholder="name@example.com" readonly>
                      <label for="floatingInput">Rut: </label>
                    </div>
                    <div id="rutInv" class="invalid-feedback"></div>
                </div>
                <!-- Input Previsión de Salud-->
                <div class="col-xs-12 col-md-6 col-lg-6 p-2">
                  <div id="formFloating3" class="form-floating">
                    <input id="prevision" type="text" name="prevision" value="{{ prevision }}" class="form-control" placeholder="name@example.com" readonly>
                    <label for="floatingInput">Previsión:</label>
                  </div>
                </div>
              </div>
              <div class="row g-3 mb-3">
                <!-- Campo Especialidad -->
                <div class="col-xs-12 col-md-6 col-lg-6 p-2">
                  <div class="input-group mb-3">
                    <label class="input-group-text">Especialidad:</label>
                    <select class="form-select" name="id_esp" aria-label="Default select example" onchange="actualizarMedicos()">
                      {% for esp in especialidades %}
                        <option data-id-esp="{{ esp.id_esp }}" value="{{ esp.id_esp }}">{{ esp.nombre_esp }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- Campo nombre medico -->
                <div class="col-xs-12 col-md-6 col-lg-6 p-2">
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="{{ form.prevision.id_for_label }}">Médico:</label>
                    <select id="nombre_medico" class="form-select" name="nombre_medico" aria-label="Default select example">
                      {% for medico in medicos %}
                        <option value="{{ medico.id_med }}">{{ medico.nombre_completo }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="row g-3 mb-3">
                <!-- Campo Agendar Dia -->
                <div class="col-xs-12 col-md-6 col-lg-6 p-2">
                  <div id="formFloating3" class="form-floating">
                    <input type="date" name="dia_agendado"
                      id="fecha"
                      class="form-control"
                      placeholder="dd-mm-yyyy"
                      min=""
                      max="2023-05-31"
                      required>
                    <label>Dias Disponibilidad:</label>
                  </div>
                </div>
                <!-- Campo Agendar Hora -->
                <div class="col-xs-12 col-md-6 col-lg-6 p-2">
                  <div class="input-group mb-3 ">
                    <label class="input-group-text">Horas Disponibles:</label>
                    <input type="time" name="hora_agendada" class="form-control" min="09:00" max="18:00" step="900" required >
                  </div>
                </div>
                <!-- Boton Confirmar -->
              </div>
                <div class="contenedor-boton mb-3">
                  <button id="btn-enviar" type="submit" class="btn btn-primary link">Confirmar</button>
                </div>
                {% if messages %}
                <div class="messages">
                  {% for message in messages %}
                    {% if message.tags == 'success' %}
                      <div class="success alert alert-success text-center">{{ message }}</div>
                    {% else %}
                      <div class="error alert alert-danger text-center">{{ message }}</div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <script>
      var fechaActual = new Date().toISOString().substr(0, 10);
      document.getElementById("fecha").min = fechaActual;
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>