<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicast</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'app/img/Fondos/fondo-clinica.png' %}" />
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    
</head>
<body>
      <!-- Nav -->
    {% block nav %}
    {% include 'app/header.html' %}
    {% endblock %}

    <!-- Formulario Reserva de Hora Médica -->
    <div class="container text-center contenedor-form">
      <div class="row">
        <div class="col"></div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
          <form id="formulario" method="post" action="{% url 'reservar-hora' %}" onsubmit="return validarFormulario()">
            {% csrf_token %}
              <!-- Titulo de Formulario -->
              <legend class="titulo-reg text-center mb-2">Reservar Hora</legend>
              <div class="row g-3 mb-3">
              <!-- Input Rut Paciente -->
                <div class="col">
                    <div id="formFloating3" class="form-floating">
                      <input id="rut" name="rut" type="text" pattern="\d{7,8}-\d|[\d|kK]" class="form-control" placeholder="name@example.com" required title="Ingresa un rut válido (Ejemplo: 12345678-9)">
                      <label for="rut">Ingrese rut</label>
                    </div>
                    <div id="rutInv" class="invalid-feedback"></div>
                </div>
              </div>
              <!-- Input Previsión de Salud -->
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group-text">Previsión</label>
                  <select class="form-select" name="prevision" aria-label="Default select example">
                    {% for prev in tipo_prev %}
                      <option value="{{ prev.id_prev }}">{{ prev.nombre_prev }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="passInvalid" class="invalid-feedback"></div>
              </div>
              <!-- Boton Confirmar -->
              <div class="contenedor-boton">
                <button id="btn-enviar" type="submit" class="btn btn-primary link">Confirmar</button>
              </div>
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <script>
      function validarFormulario() {
        var rutInput = document.getElementById('rut');
        var rut = rutInput.value;

        if (!/^[\d\-]+$/.test(rut)) {
          alert('El rut solo puede contener números y el guión (-)');
          rutInput.focus();
          return false;
        }

        rut = rut.replace(/\./g, '')

        return true;
      }
    </script>

    

    <!-- <script src="{% static 'app/js/valid.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>